<span class="textstyle2">
  <b>Welcome to A+ Family Healthcare data management tool!</b>
</span>

<span class="textstyle3">
  <br>
  <br>
  My name is Aren Aksoy, and I created this containerized application with the MySQL database.
  <br>
  <br>
  You can start by clicking some buttons on the menu on the left. The customers are displayed, and all the information in the cells is editable for both customers and scheduled appointments.
  Only the delete option is not available in the original application.
  Receptionists can add new customers and schedule new appointments.
  In the "Create Report" page, they can download the appointment details as a PDF file with one click.
  Downloading the entire database is also possible in the "Settings" page.
  <br>
  <br>
  Important note: In a real case, "Verify Insurance" must verify the insurance ID by an external API from health insurance companies.
  However, for this assignment, the current version only makes the insurance row "verified" regardless of actual validity.
  <br>
  <br>
</span>